# Environment variables - NEVER commit this
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.pyc

# Airflow
airflow/logs/
airflow/plugins/

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Docker
*.log